<h1>Add a note </h1>
<form class="add-note-form">
    <mat-form-field>
        <input matInput name="inputNoteTitle" [(ngModel)]="noteTitle" placeholder="Title" />
    </mat-form-field>
    <mat-form-field>
        <textarea matInput name="inputNoteDesc" [(ngModel)]="noteDescription" placeholder="Description"></textarea>
    </mat-form-field>
    <mat-form-field>
        <mat-label>Choose a category </mat-label>
        <mat-select *ngIf="categories" [(ngModel)]="idCategoryNote" name="categ">
            <mat-option *ngFor="let categ of categories" [value]="categ.id">
                {{categ.name}}</mat-option>
        </mat-select>
    </mat-form-field>
    <button mat-button (click)="addNote()" [routerLink]="['']">
        Add
    </button>
</form>
<!-- <p>Note Title: {{noteTitle}}</p>
<p>Note Description: {{noteDescription}}</p> -->